body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Styles for the gallery page */
#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    
    width: 100vw;
    overflow: auto;
    height: 100vh;
}

.punctuation-cell {
    background-color: #ffb9b9;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.punctuation-cell:hover {
    background-color: #e0e0e0;
}

.typeface-name {
    font-size: 10px;
    margin-top: 5px;
}

/* Styles for the detail page */
body.detail-page {
    overflow: hidden;
}

.detail-page #grid-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.detail-page .punctuation-cell {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 24px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    overflow: hidden;
}

.detail-page .typeface-name {
    font-size: 10px;
    margin-top: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
